## Generic Paths

QArantineInputRootPath : QArantine\TestsInput                               # Default value: QArantine\TestsInput
QArantineOutputRootPath : QArantine\TestsOutput                             # Default value: QArantine\TestsOutput
QArantineTestsRootPath : QArantine\Tests                                    # Default value: QArantine\Tests


## Log System

LogLevel : Warning                                                          # None / Error / OK / Warning / Debug
AbortOnFatalError : false                                                   # true / false
WriteLogsOnConsole : true                                                   # true / false
DumpLogsToFile : true                                                       # true / false
LogPath : Log.html                                                          # Default value: Log.html
LogsAutoFlush : true                                                        # true / false

ErrorsLogActive : true                                                      # true / false
ErrorsLogPath : ErrorsLog.html                                              # Default value: ErrorsLog.html

ConsoleWindowActive : true                                                  # true / false
OpenConsoleMinimized : true                                                 # true / false

## Tests Report System

DumpTestResultToJSONFile : true                                             # true / false
DumpCoverageToJSONFile : true                                               # true / false
DumpErrorsToJSONFile : true                                                 # true / false
IndentReportSystemJsonFiles : true                                          # true / false

RecordTestExecutionVideo : false                                            # true / false
CreateVideoRecordLogFiles : false                                           # true / false
WindowToRecordName : QArantineLauncher                                      # Default value: LauncherGUI (you should change this value to the name of window you want to record)
FFmpegExeFilePath : ../QArantine/ExternalBins/ffmpeg.exe                    # Default value: ExternalBins/ffmpeg.exe (it is recommended to change it in your project to point to the same exe as in the TF if you don't want to have your own!)


## GUI
GUIActive : true                                                            # true / false


## Profiler
ProfilerActive : false                                                      # true / false


## VarTracker
VarTrackerActive : false                                                    # true / false


## Tests Global Config

MainTestsNamespace : QArantineLauncher.Tests                                # Default value: QArantine.Tests